*.zip
*.rar
*.pyc
/Task5.2/Phase1/data
/Task5.2/Phase1/resnet34_caltech101.pth
/Task5.1/1.2/balls
/Task5.2/Phase1/mobilenetv2_caltech101.pth
/Task5.2/caltech_data/caltech101
/Task6/Problem1/attentionHeatmap.png
/Task6/Problem2/data